[submodule "repos/vertex-texture-cache"]
	path = repos/vertex-texture-cache
	url = https://github.com/sneha-belkhale/vertex-texture-cache
[submodule "repos/360-photo-to-video"]
	path = repos/360-photo-to-video
	url = https://github.com/sneha-belkhale/360-photo-to-video
[submodule "repos/gender-graph"]
	path = repos/gender-graph
	url = https://github.com/Kif11/gender-graph
[submodule "repos/tsp-3D-art"]
	path = repos/tsp-3D-art
	url = https://github.com/sneha-belkhale/tsp-3D-art
[submodule "repos/auracaria-dreams"]
	path = repos/auracaria-dreams
	url = https://github.com/sneha-belkhale/procedural-plants-threejs
[submodule "repos/AR-GPU-Particles"]
	path = repos/AR-GPU-Particles
	url = https://github.com/sneha-belkhale/AR-GPU-Particles
