[submodule "repos/vertex-texture-cache"]
	path = repos/vertex-texture-cache
	url = https://github.com/sneha-belkhale/vertex-texture-cache
[submodule "repos/360-photo-to-video"]
	path = repos/360-photo-to-video
	url = https://github.com/sneha-belkhale/360-photo-to-video
[submodule "repos/gender-graph"]
	path = repos/gender-graph
	url = https://github.com/Kif11/gender-graph
[submodule "repos/tsp-3D-art"]
	path = repos/tsp-3D-art
	url = https://github.com/sneha-belkhale/tsp-3D-art
[submodule "repos/auracaria-dreams"]
	path = repos/auracaria-dreams
	url = https://github.com/sneha-belkhale/procedural-plants-threejs
[submodule "repos/AR-GPU-Particles"]
	path = repos/AR-GPU-Particles
	url = https://github.com/sneha-belkhale/AR-GPU-Particles
[submodule "repos/grow-your-own-bot"]
	path = repos/grow-your-own-bot
	url = https://github.com/sneha-belkhale/grow-your-own-bot
[submodule "repos/galactic-gypsy"]
	path = repos/galactic-gypsy
	url = https://github.com/sneha-belkhale/galactic-gypsy
[submodule "repos/relaxation-room"]
	path = repos/relaxation-room
	url = https://github.com/sneha-belkhale/relaxation-room
[submodule "repos/ai-animation"]
	path = repos/ai-animation
	url = https://github.com/sneha-belkhale/AI4Animation-js
[submodule "repos/monster-or-friend"]
	path = repos/monster-or-friend
	url = https://github.com/Kif11/monster-or-friend
[submodule "repos/procedural-ik-crawler"]
	path = repos/procedural-ik-crawler
	url = https://github.com/sneha-belkhale/procedural-ik-crawler
